<div class="container">
  <div class="row">
    {{#each data}}
      <div class="col-sm-6">
        <div class="card">
          {{#if musicPath}}
            <video controls poster={{albumImagePath}}>
              <source src={{musicPath}} type="audio/mpeg" />
            </video>
          {{else}}
            <img class="card-img-top" src="/images/playbutton.png" />
          {{/if}}
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-title">{{albumArtist}}</h6>
            <p class="card-text">{{albumYear}}</p>
            {{!-- <h6 class="card-title">{{artist}}</h6> --}}
            {{!-- {{#if musicPath}}
              <audio controls>
                <source src={{musicPath}} type="audio/mpeg" />
              </audio>
            {{/if}} --}}
            {{#if lyrics}}
              {{!-- <a href="/lyrics/{{albumID}}" class="btn btn-success">Lyrics</a> --}}
              <p class="card-text">{{lyrics}}</p>
            {{/if}}
            {{!-- <a href="/songs/{{albumID}}" class="btn btn-dark">More Info</a> --}}
            <a href="/songs/delete/{{songID}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No Data Available</h5>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>

{{!-- {{#each data}}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-title">{{artist}}</h6>
      <p class="card-text">{{year}}</p>
      {{#if lyrics}}
        <p class="card-text">{{lyrics}}</p>
      {{/if}}
      {{#if musicPath}}
        <a href={{musicPath}} class="btn btn-primary">Play</a>
      {{/if}}
    </div>
  </div>
{{/each}} --}}