<div class="container">
  <div class="row">
    {{#each data}}
      <div class="col-sm-6">
        <div class="card">
          {{#if musicPath}}
            <video controls poster={{albumImagePath}}>
              <source src={{musicPath}} type="audio/mpeg" />
            </video>
          {{else}}
            <img class="card-img-top" src="/images/playbutton.png" />
          {{/if}}
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-title">{{albumArtist}}</h6>
            <p class="card-text">{{albumYear}}</p>

            {{#if lyrics}}
              <p class="card-text">{{lyrics}}</p>
            {{/if}}
            <a href="/songs/delete/{{songID}}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No Data Available</h5>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>