<div class="container">
  <div class="row">
    {{#each data}}
      <div class="col-sm-6">
        <div class="card">
          <a href="/songs/{{albumID}}">
            <img class="card-img-top" src={{imagePath}} />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-title">{{artist}}</h6>
            <p class="card-text">{{year}}</p>
            {{#if musicPath}}
              <a href={{musicPath}} class="btn btn-primary">Play</a>
            {{/if}}
            {{#if lyrics}}
              <a href="/lyrics/{{albumID}}" class="btn btn-success">Lyrics</a>
            {{/if}}
            <a href="/songs/{{albumID}}" class="btn btn-primary">Songs</a>
            <a
              href="albums/delete/{{albumID}}"
              class="btn btn-danger"
            >Delete</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No Data Available</h5>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>